<ion-header>
  <ion-toolbar>
    <ion-title>
      Vagas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="onSubmit()">
  <ion-item>
      <!-- <ion-label>Selecione seu curso</ion-label>
      <ion-select [(ngModel)]="vaga.curso" class="select">
          <ion-select-option *ngFor="let vaga of vagas | async" [value] ="vaga.curso" (ionChange)="filtraCurso([value]);">{{vaga.curso}}</ion-select-option>
      </ion-select>  -->
      <ion-input type="text" [(ngModel)]= "curso" name="curso"></ion-input>
      <ion-button type="submit" class="btn btn-primary">Pesquisar</ion-button>
  </ion-item>
  </form>
 
  <ion-card *ngFor="let vaga of vagas | async">
    <ion-item>
        <h2>{{vaga.nome_vaga}} - {{vaga.empresa}}</h2>
    </ion-item>
    <ion-card-content>  
      <h2>Informações da Vaga</h2><br>
      <ion-label>{{vaga.bolsa}}</ion-label><br>
      <ion-label>{{vaga.prereq}}</ion-label><br>
      <ion-label>{{vaga.descricao}}</ion-label><br><br>
      <h2>Contatos</h2><br>
      <ion-label>{{vaga.email}}</ion-label><br>
      <ion-label>{{vaga.telefone}}</ion-label><br>
      <ion-label>{{vaga.endereco}}</ion-label>
    </ion-card-content>   
    <ion-card-footer>
      <!-- <ion-button routerLink="/tabs" routerDirection="root">Editar</ion-button> -->
    </ion-card-footer>
  </ion-card>
  <ion-button class="buttland2" [routerLink]="['/principal']" shape="around" size="small" color="danger" routerdirection="foward">Voltar</ion-button>
</ion-content>

