.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.buttland{
  position: absolute;
  left: 20%;
  width: 60%;
}

.buttland2{
  position: absolute;
  margin-top: 17%;
  left: 20%;
  width: 60%;
}